[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {version = "*",editable = true}

[packages]
datalake-script = {path = ".",editable = true}
requests = "==2.23.0"

[requires]
python_version = "3.6"
