name: Python Black Lint Check

on: [push, pull_request]

jobs:
  black-lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install Black
        run: pip install black==24.3.0

      - name: Check Black Code Style
        run: black --check .